h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

body {
    width: 1280px;
    margin: 0 auto;
}

.both-galleries {
    display: flex;
}

.first-gallery, .second-gallery {
    padding: 5px;
}

.full-img, .full-img-2 {
    position: relative;
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: center;
}

.overlay, .overlay-2 {
    position: absolute;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
    justify-content: center;
}

#button, #button-2 {
    border: 0;
    background: rgba(150,150,150,0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    left: 2px;
}

.thumb-bar img, .thumb-bar-2 img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
}